.body {
    background-color: #ddd;
    padding: 2rem .5rem;
}

.logo {
    display: block;
    width: 10rem;
    max-height: 10rem;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: .5rem;
    background-color: #f9f9f9;
    width: calc(100% - 2rem);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

a.button {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: #4f46e5;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

a.button:hover {
    background-color: #3f37ba;
}

.small {
    font-size: 0.75rem;
    line-break: anywhere;
}
