<head>
    <style>
        {{ get_resource_as_string('static/css/mail.css') }}
    </style>
    <title>{{ subject }}</title>
</head>
<body>
<div class="body">
    <img class="logo" src="cid:Logo">
    <div class="content">
        <p>Dear user,</p>
        <p>Please click the button below to activate your new account.</p>
        <p>
            <a class="button" href="{{ frontend }}/activate?token={{ token }}">
                Activate
            </a>
        </p>
        <p>Sincerely,</p>
        <p>The Air Quality Monitor Team</p>
        <p class="small">
            Alternatively, you can paste the following link in your browser's address bar:<br/>
            {{ frontend }}/activate?token={{ token }}
        </p>
    </div>
</div>
</body>
