<head>
    <style>
        {{ get_resource_as_string('static/css/mail.css') }}
    </style>
    <title>{{ subject }}</title>
</head>
<body>
<div class="body">
    <img class="logo" src="cid:Logo">
    <div class="content">
        <p>Dear user,</p>
        <p>You have requested to reset your password</p>
        <p>
            <a class="button" href="{{ frontend }}/reset_password?token={{ token }}">
                Reset password
            </a>
        </p>
        <p>If you have not requested a password reset simply ignore this message.</p>
        <p>Sincerely,</p>
        <p>The Air Quality Monitor Team</p>
        <p class="small">
            If the button above does not work, you can paste the following link in your browser's address bar:<br/>
            {{ frontend }}/reset_password?token={{ token }}
        </p>
    </div>
</div>
</body>
